/* set the bg color of the main body to black, the font family to arial and the text color to white*/
body {
    background-color: black;
    font-family: arial;
    color: white;
}
/* set the text color of the title to grey and the font family to verdana*/
h1{
    color: grey;
    font-family: verdana;
}
/* set the style preferences for the main div of the webpage*/
.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align-self: center;
}
/* this style preference is specifically for highlighting text in the results span*/
.hlspan {
  background-color: yellow;
}